<section class="artistinfo">
    <div class="artist cf">
      <h1>{{car.Modelo}} - {{car.AnoModelo}}</h1>
      <div class="info">
        <h2>{{car.Marca}}</h3>
        <h4 class="rightText">Código FIPE: {{car.CodigoFipe}}</h5>
        <h4>{{car.Valor}}</h3>
      </div>
      <div></div>
    </div>
    <div style="padding-top: 20px;">
      <a href="javascript:window.history.back();" class="btn btn-left">&laquo; Voltar</a>
      <a href="index.html" class="btn" style="float: right;">Nova Busca</a>
    </div>
  </section>